*{
    margin: 0;
     
    font-family: Arial, Helvetica, sans-serif
}
.navbar{
   
    background-color: #0F1111;
    height: 60px;
    color: white;
    display: flex;

    align-items: center;
    justify-content: space-evenly;
  
   
}
.navlogo{
    height: 50px;
    width: 160px;
}
.logo{
    background-image: url("amazon-logo-png.png");
  background-size: cover;
    height: 50px;
    width: 100%;
    
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.addres{
    margin:5px;
}

.icon{
    display: flex;
    align-items: center;
}
.add{
    font-size: 1rem;
    color:#cccccc ;
}
.add_2{
    font-size: 15px;
    color: #ffffff;
    margin-left: 3px;
}
.searchb_bar{
    display: flex;
    align-items: center;
    width: 600px;
  
    height: 60px;
}
.select{
    color:#0F1111;
    font-size: 16px;
    height:48px;
    width: 40px;
    border: none;
    border-right: 1px solid rgb(0,0,0,0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search{
    height:45.5px;
    width: 100%;
    border: none;

}
.search_icon{
    height:48px;
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:#F9BA6B;
    font-size:20px;
    color: #0F1111;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.9rem;
    font-weight: 3px;
    height: 30px;
}
.sign_in{
    font-size: 0.9rem;
    font-weight: 3px;
    height: 30px;
}
.return{
    font-size: 0.9rem;
    font-weight: 3px;
    height: 30px;
}

.cart{
    display: flex;
    align-items: end;
    height: 30px;
}
i{
    font-size: 30px;
}
#cart1{
    font-size: 0.9rem;
    font-weight: 5px;
   
}
.panel{
    height: 40px;
   color: #cccccc;
    background-color: #242C3C;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#f{
    font-size: 15px;
    font-weight: 5px;
}
.panel-link{
    text-decoration: none;
    color: #cccccc;
}
.s{
    color: #cccccc;
    background-color: #242C3C;
    border: none;
}
img{
    height: 35px;
    width: 400px;
}
.hero-section{
    height:500px;
    background-image: url("herobg.jpg");
    background-size: cover;
 
}
.shop-content{
    display: flex;
    justify-content: space-evenly;
    background-color:#2C545F;


}
.box{
    height: 400px;
    width: 23%;
    background:#cccccc;
    border: none;
    border-radius: 5px;
    position: relative;
    bottom: 150px;
}

.summer{
    height: 100%;
    width: 100%;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
}
.m{
  
    color: rgb(9, 148, 203);
   position: absolute;
   bottom: 25px;
   left: 15px;
    
}
.boat{
    height:100%;
    width: 100%;
}
.shop-content1{
    display: flex;
    height: 300px;
    width:100%;
    overflow: auto;
    
}
.title{
    height: 35px;
    width: 100%;
    display: flex;
  
}
.scroll-bar{
      padding: 10px;
      position: relative;
      bottom: 55px;
      background-color:white;

}
.batteries{
height:270px;
}
.sc{
    color: rgb(9, 148, 203);
    margin-left: 40px;
    margin-top: 10px;
}